.port-font{
    font-family:'Merriweather';
    font-size: 50px;
    color:blueviolet;
}

.git-btn{
    background-color: grey;
    color:white;
}

.project{
    background-color: blueviolet;
    color:white;
}

 .portSize{
     text-align: center; 
        margin: auto; 
        height:35% ;
        width:55%;
    
} 

.portHeader{
    padding-top: 2%;
}