.about-img{
    height:350px;
    width:400px;

}

.about-text{
    /* text-align:center; */
    /* float:right; */
    font-size: 1;
}

/* .about-wrapper{
    font:12;
}
@media(max-width:320px){

}
@media(max-width: 720px){

}
@media(max-width:1024px){

} */

.skills{
    font-family:'Merriweather';
    font-size: 40px;
    color:blueviolet;
     font-weight: bold; 
}