.about-img{
    height:350px;
    width:400px;
    justify-content: center center;

}

.about-text{
    /* text-align:center; */
    /* float:right; */
    font-size: 1;
}



.skills{
    font-family:'Merriweather';
    font-size: 40px;
    color:blueviolet;
     font-weight: bold; 
}