.about-img{
    float:left; 
    height:325px;
    width:350px;

}

.about-text{
    text-align:center;
    /* float:right; */
    position:fixed;
    font-size: 1;
    display:inline;
}

/* .about-wrapper{
    font:12;
}
@media(max-width:320px){

}
@media(max-width: 720px){

}
@media(max-width:1024px){

} */

.skills{
    font-family:'Merriweather';
    font-size: 40px;
    color:blueviolet;
     font-weight: bold; 
}